<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Yayks!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @using (Html.BeginForm("SearchProducts", "Customers", FormMethod.Get))
                        {
                            <div id="global-search" class="input-group">

                                <span class="input-group-btn">
                                    <input class="btn btn-default" type="submit" value="Go!" />
                                </span>
                                @Html.TextBox("SearchString", "", new { @id = "currentFilter", placeholder = "Search for...", @class = "form-control" })


                            </div>
                        }

                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
  
            @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>

        function updateCartCount() {
            //loads cart item count
            $.ajax({
                type: "get",
                url: "/Rest/getCartCount",
                datatype: "json",
                traditional: true,
                success: function (data) {
                  
                    $('#icon-cart-link').text(' ' + data);
                }
            });

        };

        updateCartCount();


        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return dt;
        }

        function addToCart(id) {

            $.get('@Url.Action("AddToCart", "Customers")', { Id: id }, function (data) {

                if (data == "out of stock") {
                    alert("Out of stock");
                } else {
                    updateCartCount();
                }


            });

        }




    </script>

</body>
</html>
