@model yayks.Models.ProductModel

<div role="button" class="thumbnail" onclick="getProduct('@Model.Id')" >
   
        <img class="img-responsive" src="@Model.Images[0]" />
        <div class="caption">
            <p class="product-name">@Model.Brand @Model.Name<br>@Model.Amount.ToString("0.00")</p>
        </div>
   
</div>