@model yayks.Models.CartModel

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>

<h3 id="total"></h3>

@Html.ActionLink("Check Out", "Shipping", "Customers", new { @class = "btn btn-primary" })

@using (Html.BeginForm("Shipping", "Customers", FormMethod.Post))
{

    <table class="table table-responsive">
        <thead>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Description</td>
                <td>Amount</td>
                <td>Qty</td>
            </tr>
        </thead>
        <tbody id="table-body">

            @for (int i = 0; i < Model.ProductList.Count; i++)
            {
                <tr data-id="@Html.DisplayFor(o => o.ProductList[i].ProductDetailId, null).ToHtmlString()">

                    <td>@Html.CheckBoxFor(o => o.ProductList[i].IsSelected, new {@onclick = "SumAmount()" })</td>
                    <td>@Html.DisplayFor(o => o.ProductList[i].Name, null)</td>
                    <td>@Html.DisplayFor(o => o.ProductList[i].Description, null)</td>
                    <td class="amount">@Html.DisplayFor(o => o.ProductList[i].Amount)</td>
                    <td>@Html.EditorFor(m => m.ProductList[i].Quantity, new { htmlAttributes = new { @class = "item-qty form-control" } })</td>
                    <td><button class="delete" type="button">Delete</button></td>
                </tr>

            }

        </tbody>


    </table>


    <input type="submit" value="go" />

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

       

        function SumAmount() {
            var total = 0;
          
            $('#table-body').find('tr').each(function () {
                var row = $(this);
                if (row.find('input[type="checkbox"]').is(':checked')){
                    total = total + parseInt(row.find('.amount').text()) * parseInt(row.find('input[type="number"]').val());
                }
            });

            $('#total').text('Total: ' + total);

        }

        $(document).ready(function () {

            $(".delete").on("click", function () {
                             
                var tr = $(this).closest('tr');

                $.get('@Url.Action("RemoveFromCart", "Customers")', { Id: tr.attr('data-id') }, function (res) {
                        
                    if (res)
                    {
                        tr.remove();
                        SumAmount();
                        updateCartCount();
                    }

                   
                });

               
            });
        });

        //compute total on qty value change
        $(".item-qty").keyup(function () {
            SumAmount();
        });

        $(".item-qty").click(function () {
            SumAmount();
        });





    </script>

}


