@model yayks.Models.ShippingModel

@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shipping</h2>


<div>
    <h4>CustomerShippingAddress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentShippingAddress.IsDefault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentShippingAddress.IsDefault)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentShippingAddress.Line1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentShippingAddress.Line1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentShippingAddress.Line2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentShippingAddress.Line2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentShippingAddress.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentShippingAddress.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentShippingAddress.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentShippingAddress.State)
        </dd>

    </dl>
</div>

@Html.Partial("~/Views/Shared/_Partial_ShippingList.cshtml", Model.ShippingAddressList)

